:root {
    --background-color: #faf9f8;
    --medium-color: #aab;
    --contrast-color: #333;
    --highlight-color: #f99;
    --contrast-text: rgb(15, 15, 15);
    --faint-text: #778;
    font-size: calc(10px + (16 - 10) * ((100vh - 370px) / (1000 - 370)));
    font-family: system-ui, sans-serif;
}

head.dark-mode + body {
    --background-color: #222222;
    --medium-color: #404044;
    --contrast-color: #ccc;
    --highlight-color: #811;
    --contrast-text: rgb(240, 240, 240);
    --faint-text: #666;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: system-ui, sans-serif;
}

.welcome {
    pointer-events: none;
    user-select: none;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 45vh;
    height: 0;
    color: var(--faint-text);
    animation: fadeout 10s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}

@media (hover: none) {
    .pointer {
        display: none;
    }
    .touch {
        display: block;
    }
}

@media (hover: hover) {
    .pointer {
        display: block;
    }
    .touch {
        display: none;
    }
}

table {
    pointer-events: none;
    user-select: none;
    float: left;
    padding-top: 1rem;
    padding-left: 5ch;
}

table tr th {
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    padding-top: .5em;
    padding-left: 3ch;
    color: var(--contrast-text);
}

table tr :first-child:not(th) {
    text-align: right;
    padding-right: 3ch;
}

table tr td {
    font-size: .8rem;
    line-height: 1.4em;
    color: var(--contrast-text);
}

table tr td div {
    display: inline-block;
    padding-right: 0 !important;
}

table tr td div:first-letter {
    font-weight: bold;
}

ul {
    right: 5ch;
    bottom: 1em;
    text-align: right;
    position: absolute;
    user-select: none;
    list-style-type: none;
}

ul li {
    font-size: .8rem;
    color: var(--contrast-text);
}

ul .selected {
    font-weight: bold;
}

canvas {
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--background-color);
    display: block;
}
